@import '../../styles/color';

.listItem {
  color: $color-primary;
  -webkit-transition: color 0.4s; 
  transition: color 0.4s;
  &:hover {
    color: $red;
    background-color: transparent;
  }
}

.listItemSelected {
  color: $color-accent;
  -webkit-transition: color 0.4s; 
  transition: color 0.4s;
  &:hover {
    background-color: transparent;
  }
}